<div class="container">

  <br>
  <h4>ログイン</h4>
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

    <%= f.label :メールアドレス %>
    <%= f.email_field :email %>

    <%= f.label :パスワード %>
    <%= f.password_field :password %>

    <%= f.submit "ログイン", class: 'btn btn-primary btn-sm' %>
  <% end %>
  
</div>
