<p id="notice"><%= notice %></p>

<h1>投稿一覧</h1>

<table>
  <head>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>画像</th>
      <th>投稿者</th>
    </tr>
  </head>

  <body>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <td><%= picture.content %></td>
        <td><%= picture.image %></td>
        <td><%= picture.user_id %></td>
        <td><%= link_to '詳細', picture %></td>
        <td><%= link_to '編集', edit_picture_path(picture) %></td>
        <td><%= link_to '削除', picture, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </body>
</table>

<br>

<%= link_to '新規投稿', new_picture_path %>
